<h1> Potential Pairs </h1>

<% @matches.each do |match| %>
<img src="<%= match.image_url %>" >
<%= match.github_name %><br>
  <%= match.about_me %><br>
  <% match.languages.map do |language| %>
    <li><%= language.name %></li>
  <% end %>

<br>
<br>

<%= link_to "Approve", user_friendship_approve_path(current_user, match), method: :post %>

<br>
<br>

<%= link_to "Reject", user_friendship_reject_path(current_user, match), method: :post %>
<hr/>
<% end %>
